@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
}

.a {
    text-decoration: none;
}

html body {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    padding-top: 100px;
    background: #161616;
    background-image: url('assets/background-texture.png');
    background-size: 700px;
}

.bg-primary {
    background-color: #1a52c6;
}

:root {
    --text-size: 24px;
    --text-height: 30px;
    --mg-top: 70px;

}

.bg-dark {
    background-color: red;
}


.header-cont,
.background-contato,
.banner-grid,
.background-about,
.grid-oferecemos,
.grid-cells,
.cont-container,
.background-contato {
    width: 100%;
    max-width: 1000px;
}

html {
    scroll-behavior: smooth;
}

.navbar {
    background: #161616;

}

body::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-thumb {
    background-color: #363636;
    border-radius: 20px;
    border: 4px solid #161616;
}

.social-media {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 200px);
    width: 30px;
    right: 40px;
    z-index: 100;
}

.icon-social-media {
    width: 100%;
    margin-bottom: 22px;
    transition: .3s;
}

.link-zap {
    padding: 0;
    margin: 0;
    width: 32px;
}

.icon-social-media-1 {
    width: 12px;

}

.icon-social-media:hover {
    transform: scale(1.2);
    transition: .3s;
}

/* top */

.top {
    position: fixed;
    width: 30px;
    right: 40px;
    bottom: 40px;
    transition: .3s;
    z-index: 100;

}

.top:hover {
    transform: scale(1.2);
    transition: .3s;
}

/* bubble */

.container-bubble {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 300px;
    top: 150px;
    width: 120px;
    height: 120px;
}


.bubble-img {
    width: 100%;
    z-index: 10;
    backdrop-filter: blur(20px);
    border-radius: 500px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.308) 0%, #ff55001e 100%);
    box-shadow: 10px 10px 10px #00000069;
}


.container-bubble-1 {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -200px;
    right: 0px;
    width: 500px;
    height: 500px;

}

.bubble-img-without-animation {
    position: absolute;
    right: 0;
    top: 0px;
    width: 100px;
    backdrop-filter: blur(20px);
    border-radius: 500px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.308) 0%, #ff55001e 100%);
    box-shadow: 10px 10px 10px #00000069;
    z-index: 10;
}

.tentaculo-1 {
    position: absolute;
    width: 95%;
    right: 25px;
}

/*  */

header {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    backdrop-filter: blur(7px);
    background: #fff6e902;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.473);
    width: 100%;
    height: 80px;
    z-index: 20;
}


.header-cont {
    position: fixed;
    display: flex;
    justify-content: space-between;
    height: 80px;
    /* background: #161616; */
    transition: .2s;

}

.header-logo {
    display: flex;
    align-items: center;
    color: #FFEDE3;
}

.teclakey-logo {
    margin: 0;
}

.logo {
    height: 50%;
    padding-right: 10px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 650px;
}

nav p {
    color: #FFEDE3;
    font-size: 18px;
    border: none;
    background: none;
    cursor: pointer;
    font-weight: 200;
    margin: 0;
}

.nav-p:hover {
    transition: .2s;
    opacity: 0.8;
}


@media (max-width: 1250px) {

    .header-cont {
        max-width: calc(100vw - 100px);
    }
}

/* Banner */

.banner-cont {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 100px);
    width: 100%;
}

.lines {
    position: absolute;
    width: 50vw;
    max-width: 900px;
    right: 0;
    z-index: 1;
}

.banner-grid {
    display: grid;
    grid-template-columns: 770px 1fr;
    margin: auto;
    height: 70%;
    z-index: 2;
}

.text-banner {
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: #FFEDE3;
}

.bar {
    line-height: 80px;
    font-size: 64px;
    font-weight: 700;
}

.bar p {
    display: inline;
    font-size: 64px;
    font-weight: 300;
}

.quero {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 35px;
    height: 67px;
    width: 261px;
    margin-top: 45px;
    font-size: 24px;
    font-family: 'poppins';
    font-weight: 300;
    background: #0085FF;
    color: #FFEDE3;
    transition: .2s;
    cursor: pointer;

}

.quero:hover {
    background: #005780;
    transition: .2s;
}

/* Main */

main {
    display: flex;
    flex-direction: column;
}

.background-about {
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    transform: skewy(-5deg);
    backdrop-filter: blur(70px);
    background: #fff6e902;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.473);
    border-radius: 15px;
    overflow: hidden;
    max-height: 350px;
    margin: auto;
}

.container-about {
    display: flex;
    justify-content: center;
    width: 80%;
    z-index: 2;
}

.about {
    width: 65vw;
}

.text-about {
    color: #FFEDE3;
    font-weight: 300;
    font-size: var(--text-size);
    line-height: var(--text-height);
    margin-top: 30px;
}

.red {
    position: absolute;
    bottom: 0;
    filter: blur(100px);
    width: 300px;
    height: 100px;
    background: #F11C1C;
}

.orange {
    position: absolute;
    right: 100px;
    filter: blur(100px);
    width: 300px;
    height: 100px;
    background: #FF5700;
}

.hh {
    display: inline;
    font-size: 64px;
    font-weight: 600;
    color: #FFEDE3;

}

/* O que podemos te oferecer */

.topico {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFEDE3;
    width: 100%;
}

.topico p {
    display: inline;
    color: #FFEDE3;
    font-size: 48px;
    font-weight: 300;
}

.container-oferecemos {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding-bottom: 110px;
}

.grid-oferecemos {
    position: absolute;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    display: grid;
    z-index: 3;
    gap: 20px;
    color: #FFEDE3;
    transform: translatey(70px);
}


.second-column {
    padding-top: 120px;

}

.competencias-1,
.competencias-2 {
    display: flex;
    flex-direction: column;
    margin: auto;
    height: 420px;
    width: 400px;
    margin-left: 80px;
}

.competencias-1 {
    margin-right: 75px;

}

.competencias-2 {
    margin-left: 75px;

}

.title-principal-text {
    font-weight: 700;
    margin-bottom: 20px;
    color: #FFEDE3;
    font-size: 24px;

}

.title-text {
    color: #FFEDE3;
    font-weight: 300;
    font-size: var(--text-size);
    line-height: var(--text-height);

}


.grid-backgrounds {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    gap: 15px;
    margin-bottom: 20px;
}


.background-competencia-1,
.background-competencia-2,
.background-competencia-3,
.background-competencia-4 {
    position: relative;
    backdrop-filter: blur(70px);
    background: #fff6e902;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.473);
    overflow: hidden;
    height: 400px;
    z-index: 1;
    margin-bottom: 20px;
}

.purple {
    position: absolute;
    background: #7000FF;
    z-index: 5;
    filter: blur(100px);
}

.purple-1 {
    width: 50px;
    height: 100%;
    right: 0;

}

.purple-2 {
    width: 400px;
    height: 30px;
    bottom: 0;
}

.purple-3 {
    width: 100px;
    height: 60px;
    top: 0;
    right: 0;
}

.blaves {
    position: relative;
    width: 100%;
    height: 100%;
}

/* ------------- BACKGROUND 1 ------------- */

.background-competencia-1 {
    position: absolute;
    bottom: 0;
    right: 0;
    overflow: visible;
    transform: skewy(5deg);
    width: 100vw;
    max-width: 1100px;
    justify-self: flex-end;
    border-radius: 0 15px 15px 0;
}

/* ------------- BACKGROUND 2 ------------- */
.background-competencia-2 {
    transform: skewy(5deg) translatey(var(--mg-top));
    border-radius: 15px;
    width: 600px;
}

/* ------------- BACKGROUND 3 ------------- */
.background-competencia-3 {
    transform: skewy(5deg);
    width: 600px;
    justify-self: flex-end;
    border-radius: 15px;

}

/* ------------- BACKGROUND 4 ------------- */


.background-competencia-4 {
    position: absolute;
    top: 0;
    transform: skewy(5deg) translatey(var(--mg-top));
    width: 100vw;
    max-width: 1100px;
    border-radius: 15px 0 0 15px;

}

.purple-tentaculo {
    position: absolute;
    right: -858px;
    top: -42px;
    width: 1000px;
    z-index: 3;
}

/* Valores */

.padding-top {
    padding-top: 60px;
}

.grid-cells {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 850px;
    margin: auto;
}

.container-cell {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
}

.cell {
    position: relative;
    height: 200px;
    width: 500px;
    margin-top: 80px;
    z-index: 2;
    /* background: green; */
}

.cell-1 {
    left: 0px;
}

.cell-2 {
    top: 0px;
    right: -110px;

}

.cell-3 {
    top: 0px;

}

.text-cell {
    margin-top: 80px;
}


.background-cell {
    position: absolute;
    overflow: hidden;
    background: #fff6e902;
    transform: rotate(-5deg);
    height: 300px;
    width: 700px;
    border-radius: 1000px;
    backdrop-filter: blur(70px);
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.473);
}

.white {
    position: absolute;
    filter: blur(100px);
    background: #FFEDE3;
}

.white-1 {
    width: 300px;
    height: 50px;
    left: 200px;
    bottom: 0;
}

.white-2 {
    width: 300px;
    height: 50px;

}

.white-3 {
    width: 150px;
    height: 100px;
    right: 50px;
    bottom: 0;
}

.container-bubble-white {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 1000px;
    z-index: 1;
}

.bubble-img-white {
    position: absolute;
    backdrop-filter: blur(20px);
    border-radius: 500px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.308) 0%, #fff1ea1e 100%);
    box-shadow: 10px 10px 10px #00000069;
    z-index: 10;
}

.bubble-white-1 {
    width: 45px;
    bottom: 350px;
    left: 150px;
}

.bubble-white-2 {
    width: 110px;
    left: 50px;
    bottom: 180px;
}

.bubble-white-3 {
    width: 75px;
    left: 0;
    bottom: 400px;
}

.bubble-white-4 {
    width: 55px;
    bottom: 70px;
    right: 120px;
}

.bubble-white-5 {
    width: 110px;
    right: 0px;
    bottom: 160px;
}

.bubble-white-6 {
    width: 75px;
    right: 30px;
    top: 100px;
}

/* contato */

.cont-to-line-cyan {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: calc(100vw - 12px);
    max-height: 800px;
}

.cont-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 450px;
    max-height: 800px;
    margin: auto;
}

.contato {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 200px;
    z-index: 3;
}

.social-media-contato {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 180px;
}

.insta,
.email,
.whats,
.social-media-contato a {}

.insta {
    height: 28px;
}

.insta img {
    height: 100%;
}

.email {
    height: 26px;
}

.whats {
    height: 29px;
}

.background-contato {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    transform: skewy(-5deg);
    backdrop-filter: blur(70px);
    background: #fff6e902;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.473);
    border-radius: 15px;
    overflow: hidden;
    height: 400px;
    max-height: 500px;
    z-index: 2;
}


.cyan {
    position: absolute;
    bottom: 50px;
    filter: blur(100px);
    background: #068686;
    width: 100px;
    height: 300px;
}

.cyan-1 {
    right: 0;
    bottom: 100px;
}

.container-line {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 450px;
    width: 100%;
    max-width: 2200px;
}

.line-cyan {
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 1;
}

.line-cyan-1 {
    top: 0;
}

.line-cyan-2 {
    top: 75px;

}

.line-cyan-3 {
    top: 150px;

}

.line-cyan-4 {
    top: 225px;

}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    width: 100%;

}

.title p {
    display: inline;
    color: #FFEDE3;
    font-size: 48px;
    font-weight: 300;
    margin: 0;
}

.infos-contato {
    color: #FFEDE3;
    font-size: var(--text-size);
    line-height: var(--text-height);
}

.infos-contato p {
    font-weight: 200;
}

.infos-contato strong {
    font-weight: 600;
    padding-right: 10px;
}


/* Footer */

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 120px 0 40px 0;
    color: #FFEDE3;
    font-size: 16px;
}

footer p {
    font-size: 16px;
    font-weight: 200;
}

footer img {
    height: 55px;
    margin-right: 10px;
}


@media (max-width: 1500px) {

    :root {
        --text-size: 18px;
        --text-height: 26px;
        --mg-top: 70px;
    }


    .background-contato,
    .banner-grid,
    .background-about,
    .grid-oferecemos,
    .grid-cells,
    .cont-container,
    .background-contato {
        max-width: calc(100vw - 25vw);
    }


    .background-competencia-1,
    .background-competencia-2,
    .background-competencia-3,
    .background-competencia-4 {
        height: 250px;
        z-index: 1;
        margin-bottom: 20px;
    }


    .background-competencia-1 {
        width: 100vw;
        max-width: 1100px;
    }

    .background-competencia-2 {
        width: 500px;
    }

    .background-competencia-3 {
        width: 500px;
    }


    .background-competencia-4 {
        width: 100vw;
        max-width: 1100px;
    }

    .grid-oferecemos {
        transform: translatey(15px);
    }

    .competencias-1,
    .competencias-2 {
        height: 250px;
        width: calc(100% - 150px);
    }

}

@media (max-width: 1100px) {

    nav {
        width: 500px;
    }

    nav p {
        font-size: 16px;
    }

    .hh {
        font-size: 34px;
    }

    .title p {
        font-size: 28px;
    }

    .cont-container {
        height: 200px;
    }

    .grid-oferecemos {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 0;
        height: 1000px;
        transform: translatey(-30px);
    }

    .grid-backgrounds {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: max-content;
        width: calc(100% - 25vw);
        margin-bottom: 0px;
    }

    .grid-cells {
        position: relative;
        height: 730px;
        margin: auto;
    }

    .background-contato {
        height: 300px;
    }

    /*  */
    .contato {
        height: 140px;
    }

    .line-cyan-1 {
        top: 80px;
    }

    .line-cyan-2 {
        top: 125px;

    }

    .line-cyan-3 {
        top: 170px;

    }

    .line-cyan-4 {
        top: 215px;

    }

    /*  */
    .cont-container {
        height: 325px;
    }

    .container-line {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 450px;
        width: 100%;
        max-width: 2200px;
    }

    .container-oferecemos {
        padding: 100px 0;
    }

    .bar {
        line-height: 50px;
        font-size: 44px;
        font-weight: 700;
    }

    .bar p {
        font-size: 44px;
        font-weight: 300;
    }

    .second-column {
        padding-top: 0px;

    }

    .background-competencia-1,
    .background-competencia-2,
    .background-competencia-3,
    .background-competencia-4 {
        position: relative;
        bottom: 0;
        right: 0;
        overflow: visible;
        transform: skewy(5deg);
        width: 100%;
        max-width: 1100px;
        justify-self: center;
        border-radius: 15px;
    }

    .competencias-1,
    .competencias-2 {
        display: flex;
        flex-direction: column;
        margin: auto;
        height: 150px;
        width: calc(100% - 35vw);
        margin-left: 0px;
        margin: 0;
    }

    .padding-top {
        padding-top: 0px;
    }

    .background-cell {
        position: absolute;
        overflow: hidden;
        background: #fff6e902;
        transform: rotate(-5deg);
        height: 250px;
        width: 550px;
        border-radius: 1000px;
        backdrop-filter: blur(70px);
        box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.473);

    }

    .cell {
        position: relative;
        width: 400px;
        margin-top: 0px;
        z-index: 2;
        /* background: green; */
    }

    .cell-1 {
        left: -20px;
    }

    .cell-2 {
        top: -20px;
        right: -20px;
    }

    .cell-3 {
        top: -40px;
        left: -20px;
    }

    .text-cell {
        margin-top: 60px;
    }

    .deg {
        transform: rotate(0deg);

    }

    .container-bubble-white {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 1000px;
    }

    .bubble-white-1 {
        width: 45px;
        top: -50px;
        left: -50px;
    }

    .bubble-white-2 {
        width: 110px;
        left: 0;
        top: 180px;
    }

    .bubble-white-3 {
        width: 75px;
        left: 0;
        bottom: 400px;
    }

    .bubble-white-4 {
        width: 55px;
        bottom: 170px;
        right: 0px;
    }

    .bubble-white-5 {
        width: 110px;
        right: -0px;
        bottom: 260px;
    }

    .bubble-white-6 {
        width: 75px;
        right: -30px;
        top: 100px;
    }

}

.responsive-1 {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.responsive {
    display: none;
}

@media (max-width: 991px) {

    header {
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        background: #161616;
        box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.473);
        width: 100%;
        height: 80px;
        z-index: 20;
    }


    .header-cont {
        position: fixed;
        display: flex;
        justify-content: space-between;
        height: 80px;
        background: #161616;
        transition: .2s;

    }

    .responsive-1 {
        display: none;
    }

    .responsive {
        display: block;
        width: 100%;
        padding: 0;
    }

    .header-cont {
        max-width: calc(100vw - 0px);
    }

    .navbar {
        width: 100%;
    }

    .navbar-expand-lg {
        width: calc(100vw - 100px);
    }



    .link-color {
        color: #FFEDE3;
    }

    .link-color:hover {
        transition: .2s;
        opacity: 0.8;
    }

    .navbar-toggle {
        border: none;
        padding: 10px;
        background: none;
        padding: 0;
    }

    .hamburger {
        color: #FFEDE3;
    }

    .hamburger-icon {
        width: 40px;
    }

    /*  */

    .banner-grid {
        display: flex;
    }

    .background-contato,
    .banner-grid,
    .background-about,
    .grid-oferecemos,
    .grid-cells,
    .cont-container,
    .background-contato {
        max-width: calc(100vw - 75px);
    }

}

@media(max-width: 650px) {
    :root {
        --text-size: 14px;
        --text-height: 24px;
        --mg-top: 70px;
    }

    .social-media {
        display: none;
    }

    .bar {
        line-height: 8vw;
        font-size: 6vw;
        font-weight: 700;
    }

    .bar p {
        font-size: 6vw;
        font-weight: 300;
    }

    .hh {
        font-size: 6vw;
    }

    .grid-backgrounds {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: max-content;
        width: calc(100% - 75px);
        margin-bottom: 0px;
    }

    .background-cell {
        position: absolute;
        overflow: hidden;
        background: #fff6e902;
        transform: rotate(-5deg);
        height: 250px;
        width: 100%;
        border-radius: 1000px;
        backdrop-filter: blur(70px);
        box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.473);

    }

    /*  */

    .container-bubble-1 {
        top: -200px;
        right: 0px;
        width: 100%;
        height: 500px;
    }

    .bubble-img-without-animation {
        position: absolute;
        right: 0;
        top: 0px;
        width: 15vw;
        backdrop-filter: blur(20px);
        border-radius: 500px;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.308) 0%, #ff55001e 100%);
        box-shadow: 10px 10px 10px #00000069;
        z-index: 10;
    }

    .tentaculo-1 {
        position: absolute;
        width: 95%;
        top: 20px;
        right: 10px;
    }

    .competencias-1,
    .competencias-2 {
        display: flex;
        flex-direction: column;
        margin: auto;
        height: 150px;
        width: calc(100% - 20vw);
        margin-left: 0px;
        margin: 0;
    }

    .container-bubble {
        left: 65vw;
        width: 50px;
        height: 50px;
    }

    .quero {
        height: 47px;
        width: 200px;
        margin-top: 45px;
        font-size: 16px;
    }

    /*  */

    .container-bubble-white {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 800px;
    }

    .bubble-white-1 {
        width: 35px;
        top: -150px;
        left: 0px;
    }

    .bubble-white-2 {
        width: 40px;
        left: 50vw;
        top: 200px;
    }

    .bubble-white-3 {
        width: 25px;
        left: 0;
        bottom: 300px;
    }

    .bubble-white-4 {
        width: 25px;
        bottom: 170px;
        right: 30vw;
    }

    .bubble-white-5 {
        width: 50px;
        right: -20px;
        bottom: 0px;
    }

    .bubble-white-6 {
        width: 50px;
        right: -30px;
        top: -20px;
    }

    .background-cell {
        height: 200px;
        width: 100%;

    }

    .cell {
        width: calc(100% - 125px);
        height: 170px;
        margin-top: 70px;
        z-index: 2;
        /* background: green; */
    }

    .cell-1 {
        left: 0px;
    }

    .cell-2 {
        top: 0px;
        right: 0px;
    }

    .cell-3 {
        top: 0px;
        left: 0px;
    }

    .text-cell {
        margin-top: 40px;
    }

    .grid-cells {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 630px;
        margin: auto;
    }

    .title-principal-text {
        font-weight: 700;
        margin-bottom: 14px;
        color: #FFEDE3;
        font-size: 18px;

    }

}

@media (max-width: 500px) {
    .grid-backgrounds {
        width: calc(100% - 20px);
    }

    .background-contato,
    .banner-grid,
    .background-about,
    .grid-oferecemos,
    .grid-cells,
    .cont-container,
    .background-contato {
        max-width: calc(100% - 20px);
    }

    .cell {
        width: calc(100% - 85px);
        /* background: green; */
    }

    .bubble-white-5 {
        width: 50px;
        right: 0px;
        bottom: 0px;
    }

    .bubble-white-6 {
        width: 50px;
        right: -0px;
        top: -20px;
    }

    footer {
        margin: 50px 0 40px 0;
    }

}